NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
PRINTER_HOST=10.0.1.128

# Dota 2 ClickHouse Integration
CLICKHOUSE_URL=https://clickhouse.ponder.guru
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_WRITE_URL=
CLICKHOUSE_WRITE_USER=
CLICKHOUSE_WRITE_PASSWORD=
CLICKHOUSE_WRITE_DATABASE=default
CLICKHOUSE_WRITE_TABLE=wrapped_data
ENABLE_PERSISTENCE=false
CACHE_TTL_MINUTES=1440
